[Desktop Entry]
Name=HP Fan Control
Name[tr]=HP Fan Kontrolü
Comment=HP Victus 16 fan curve controller
Comment[tr]=HP Victus 16 fan eğrisi kontrolü
Exec=konsole -e sudo hp-fan-tui
Icon=/opt/hp-fan-curve/icon.png
Terminal=false
Type=Application
Categories=System;HardwareSettings;
